{% extends "layout.html" %}
{% block body %}

        <a href="{{ url_for('views.profile') }}">Back</a>

        <ul class=entries>
            <h2>{{ img.filename }}</h2>
            <img class="img-center" src={{ url_for('static', filename = 'img/user_uploads/%s' % (img.filename)) }} width="400">

            {% if owner %}
                <h2>Share Image</h2>

         <form action="{{ url_for('views.share_image') }}" method=post>
             Share with:
             <select class="share-select-center" name="userid">
                 {% for user in usernames %}
                     <option value="{{ user.id }}">{{ user.username }}</option>
                 {% endfor %}
             </select>
             <input name="imgId" type="hidden" value="{{ img.id }}">
             <input class="share-input-right" type=submit value=Share>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         </form>

                <form action="{{ url_for('views.unshare') }}" method="post">
                    Unshare:
                    <select class="share-select-center" name="shareduser">
                        {% for s in shares %}
                            <option value="{{ s.id }}">{{ s.username }}</option>
                        {% endfor %}
                    </select>
                    <input name="imageid" type="hidden" value="{{ img.id }}">
                    <input class="share-input-right" type="submit" value="Unshare">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                </form>

            {% endif %}

            <li><h2>Comments</h2>
                <form action="{{ url_for('views.add_comment') }}" method=post class=add-entry>
                    <dl>
                        <input name="imageid" type="hidden" value="{{ img.id }}">
                        <dt>Text:
                        <dd><textarea name=text rows=5 cols=40></textarea>
                        <dd><input type=submit value=Comment>
                    </dl>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
                {% for msg in img.comments %}
                    <li><h3>{{ msg.user_id }}</h3>{{ msg.data }}
                        {% else %}
                    <li><em>Unbelievable. No comments so far</em>
                {% endfor %}
        </ul>

{% endblock %}