{% extends "layout.html" %}
{% block body %}

        <a href="{{ url_for('views.upload') }}">Upload image</a>


        <ul class=entries>

            <li><h2>Your images</h2>
                {%  for img in user.images %}
                    <h3> {{ img.name }} </h3>
                    <a href="{{ url_for('views.show_image', id=img.id) }}">
                     <img src={{ url_for('static', filename = 'img/user_uploads/%s' % (img.filename)) }} width="200">
                    </a>
                {% else %}
                    <li>Unbelievable. No images so far</li>
                {% endfor %}


            <li><h2>Images shared with you</h2>
                 {%  for shared in user.shares %}
                  <h3> {{ shared.name }} </h3>
                    <a href="{{ url_for('views.show_image', id=shared.image_id) }}">
                     <img src={{ url_for('static', filename = 'img/%s' % (shared.filename)) }} width="500">>
                     </a>
                {% else %}
                    <li>Unbelievable. No images so far</li>

                {% endfor %}

        </ul>

{% endblock %}