{% extends "layout.html" %}
{% block body %}

        <a href="{{ url_for('views.profile') }}">Back</a>
        <ul class=entries>

            <li><h2>Upload image</h2>

                <form action="" method=post enctype=multipart/form-data>
                    <p><input type=file name=file>
                        <input type=submit value=Upload>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>


        </ul>


{% endblock %}